<div class="navbar navbar-inverse">
  <a class="navbar-brand" href="/">Logo</a>
  <ul class="nav navbar-nav">
    <li nav-class="/view1"><a href="/view1">view1</a></li>
    <li nav-class="/view2"><a href="/view2">view2</a></li>
    <li nav-class="/faq"><a href="/faq">FAQ</a></li>
  </ul>
</div>

<div class="container-fluid" ng-view></div>

<div>Angular seed app: v<span app-version></span></div>
